.shopCart-wrap {
    background: #F4F4F4;
    overflow-y: auto;
    .shopCart-top {
        position: absolute;
        width: 100%;
        z-index: 0;
        height: 4rem;
        background: url(../../assets/images/header.png);
        background-size: 140%;
        background-position: -14px -26px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        padding: 0.8rem 0.4rem;
        p {
            color: #fff;
            font-size: 0.32rem;
            margin-bottom: 0.15rem;
        }
        p:nth-of-type(2) {
            font-size: 0.26rem;
        }
    }
    .shopCart-content {
        position: relative;
        background: #fff;
        border-radius: 5px;
        width: 90%;
        margin: 2rem 5%;
        padding: 0.4rem 0.3rem;
        .content-title {
            display: flex;
            align-items: center;
            padding-bottom: 0.15rem;
        }
        .shop {
            color: #943049;
            font-size: 0.28rem;
            margin-left: 0.35rem;
        }
        //      .icon-arr-right {
        //          margin-left: 15px;
        //          font-size: 0.24rem;
        //          color: #ddd;
        //      }
        .content {
            //          border-bottom: 1px solid #ddd;
            padding-bottom: 0.25rem;
            .content-wrap {
                display: flex;
                align-items: center;
                position: relative;
                .content-block {
                    flex: 1;
                }
                .imgBlock {
                    flex: 5;
                    display: flex;
                    align-items: center;
                    font-size: 0.26rem;
                    .price {
                        color: red;
                    }
                    div:nth-of-type(2) {
                        p {
                            width: 3rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        p:nth-of-type(1) {
                            color: #000;
                        }
                        p:nth-last-of-type(2) {
                            color: #B7B7B7;
                            font-size: 0.22rem;
                        }
                        p:nth-last-of-type(1) {
                            margin-top: 0.12rem;
                        }
                    }
                }
                .buyNum {
                    flex: 4;
                }
                img {
                    width: 1.4rem;
                    margin-right: 0.2rem;
                }
            }
            .delete {
                position: absolute;
                right: 0;
                top: 0.15rem;
                color: gray;
                font-size: 0.22rem;
            }
            .content-num {
                display: flex;
                align-items: center;
                margin-top: 0.15rem;
                .num-block {
                    flex: 1;
                }
                .buyNum {
                    text-align: right;
                }
                .price {
                    color: red;
                    font-size: 0.3rem;
                }
            }
        }
        .content:nth-last-of-type(1) {
            border-bottom: 0;
        }
    }
    .shopCart-empty {
        margin-top: 4rem;
        text-align: center;
        .icon-empty {
            color: #B2B2B2;
            font-size: 0.6rem;
        }
        p {
            margin: 0.3rem;
            font-size: 0.3rem;
            color: #B2B2B2;
        }
        div {
            margin-top: 0.5rem;
            span {
                color: #fff;
                padding: 0.17rem 0.55rem;
                background: #B69744;
                border-radius: 3px;
            }
        }
    }
    .shopCart-bottom {
        position: fixed;
        width: 100%;
        bottom: 1.2rem;
        display: flex;
        border-top: 1px solid #D1D1D1;
        padding: 0.3rem 0.2rem 0.2rem 0.2rem;
        background: #fff;
        .bottom-blcok {
            flex: 2;
            display: flex;
            align-items: center;
            .order {
                background: #B69744;
                border-radius: 3px;
                padding: 0.15rem 0.35rem;
                color: #fff;
                margin-left: 0.2rem;
            }
            b {
                color: red;
                font-size: 0.28rem;
            }
        }
        .bottom-blcok:nth-of-type(2) {
            flex: 1;
            text-align: right;
            display: flex;
            div {
                flex: 1;
            }
        }
    }
}