.forgotLoginPwd-wrap {
    .forgotLoginPwd-center {
        .code-block {
            position: relative;
            .get-code-btn {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .van-button--normal {
            width: 90%;
            margin: 0.5rem 5% 0.26rem 5%;
            font-size: 0.34rem;
        }
    }
}