.classify-wrap {
    background-color: #fafafa;

    .shpo-list{

        .shop-item{
            height: 1.8rem;
            margin-bottom: .15rem;
            background-color: #eee;
            
            img{
                height: 1.8rem;
                //width: 2rem;
                float: left;
            }

            .item-content{
                height: 100%;
                display: inline-block;
                margin-left: 0.15rem;

                .shop-decs{
                    font-size: .3rem;
                    font-weight: 800;
                    color: #000;
                    margin-left: .15rem;
                    margin-top: .25rem;

                    .shop-price{
                        color:red;
                    }
                }

                .shop-address{
                    color: #666;
                    margin-top: 0.6rem;
                    font-size: 0.2rem;
                }

            }
        }
    }
}